[submodule "ipca-frontend"]
	path = ipca-frontend
	url = https://github.com/Project-IPCA/ipca-frontend.git
	branch = develop
[submodule "ipca-super-frontend"]
	path = ipca-super-frontend
	url = https://github.com/Project-IPCA/ipca-super-frontend.git
	branch = develop
[submodule "ipca-realtime-go"]
	path = ipca-realtime-go
	url = https://github.com/Project-IPCA/ipca-realtime-go.git
	branch = develop
[submodule "ipca-worker-go-v2"]
	path = ipca-worker-go-v2
	url = https://github.com/Project-IPCA/ipca-worker-go-v2.git
	branch = develop
